/* ---
CapyMenu QAM
v1.1
--- */



:root {
    --capyQAM_toggleAnimation: none;
}
@keyframes gradient {
    0% {
      background-position: 0% 50%;
      background-size: 300% 300%;
    }
    50% {
      background-position: 100% 50%;
      background-size: 300% 300%;
    }
    100% {
      background-position: 0% 50%;
      background-size: 300% 300%;
    }
}

/* ---
Whole QAM panel
--- */
.quickaccessmenu_QuickAccessMenu_V0cr- {
    background: none;
}

/* ---
Tabs list
--- */

/* Tabs column */
.quickaccessmenu_Tabs_3Ag1w {
    background: rgba(var(--capyQAM_tabsColmnColor), var(--capyQAM_tabsColmnOpacity));
}

/* Tabs background */
.quickaccessmenu_Tab_1S76C {
    background: rgba(var(--capyQAM_tabsBgColor), var(--capyQAM_tabsBgOpacity));
}

/* Tabs background (highlight, focus) */
.quickaccessmenu_Tab_1S76C.quickaccessmenu_Selected_2QHMu, .quickaccessmenu_Tab_1S76C.gpfocus.gpfocuswithin {
    background: rgba(var(--capyQAM_hl_tabsBgColor), 255) !important;
    animation: none;
}

/* Tabs icon */
.quickaccessmenu_Tab_1S76C svg {
    color: var(--capyQAM_tabIcon);
}

/* Tabs icon (highlight, focus) */
.gpfocus.quickaccessmenu_Tab_1S76C.quickaccessmenu_Selected_2QHMu::before /* highlight */, .gpfocus.quickaccessmenu_Tab_1S76C.quickaccessmenu_Selected_2QHMu svg /* focus */ {
    color: var(--capyQAM_hl_tabIcon);
}

/* Same thing for keyboard button that appears in-game */
.quickaccessmenu_KeyboardButton_1RN_U {
    background: rgba(var(--capyQAM_tabsBgColor), var(--capyQAM_tabsBgOpacity));
}
.quickaccessmenu_KeyboardButton_1RN_U svg {
    color: var(--capyQAM_tabIcon);
}
.quickaccessmenu_KeyboardButton_1RN_U.gpfocus.gpfocuswithin {
    background: rgba(var(--capyQAM_hl_tabsBgColor), 255);
}
.quickaccessmenu_KeyboardButton_1RN_U.gpfocus.gpfocuswithin svg {
    color: var(--capyQAM_hl_tabIcon);
}

/* Notifications */

/* No new notifications text */
.quickaccesscontrols_EmptyNotifications_1g1_n {
    color: var(--capyQAM_mainTextColor);
    filter: opacity(0.6);
}

.quickaccessmenu_TabGroupPanel_1QO7b.tab_Notifications.gpfocuswithin .notificationcontent_StandardTemplate_5HZT7.gpfocus.gpfocuswithin {
    background: rgba(var(--capyQAM_hl_labelBg), var(--capyQAM_hl_labelOpacity));
}

/* Achievements */
.quickaccessmenu_TabGroupPanel_1QO7b.tab_Notifications .notificationcontent_StandardTemplate_5HZT7 .notificationcontent_AchievementBody_2iHCs .appdetailsachievementssection_Achieved_MGoYU .appdetailsachievementssection_TextSection_1s_9c /* achievement title, no highlight */ {
    color: var(--capyQAM_mainTextColor);
}
.quickaccessmenu_TabGroupPanel_1QO7b.tab_Notifications .notificationcontent_StandardTemplate_5HZT7 .notificationcontent_AchievementBody_2iHCs .appdetailsachievementssection_Achieved_MGoYU .appdetailsachievementssection_Desc_2gLHb /* achievement description, no highlight */ {
    color: var(--capyQAM_mainTextColor);
    filter: opacity(0.6);
}

.quickaccessmenu_TabGroupPanel_1QO7b.tab_Notifications.gpfocuswithin .notificationcontent_StandardTemplate_5HZT7.gpfocus.gpfocuswithin .notificationcontent_AchievementBody_2iHCs .appdetailsachievementssection_Achieved_MGoYU .appdetailsachievementssection_TextSection_1s_9c /* achievement title, highlight */ {
    color: var(--capyQAM_hl_mainTextColor);
}
.quickaccessmenu_TabGroupPanel_1QO7b.tab_Notifications.gpfocuswithin .notificationcontent_StandardTemplate_5HZT7.gpfocus.gpfocuswithin .notificationcontent_AchievementBody_2iHCs .appdetailsachievementssection_Achieved_MGoYU .appdetailsachievementssection_Desc_2gLHb /* achievement description, highlight */ {
    color: var(--capyQAM_hl_mainTextColor);
    filter: opacity(0.6);
}

/* Friends status notification container, highlight */
.notificationcontent_StandardTemplate_5HZT7.gpfocus.gpfocuswithin {
    background: rgba(var(--capyQAM_hl_labelBg), var(--capyQAM_hl_labelOpacity)) !important;
}

/* Icon, friends status, username texts */
.notificationcontent_Header_1KnyC .notificationcontent_Title_3qzN6,
.notificationcontent_Header_1KnyC .notificationcontent_Icon_opgc6 svg,

.notificationcontent_StandardTemplate_5HZT7 .notificationcontent_StandardNotificationDescription_zB56A {
    color: var(--capyQAM_mainTextColor);
}

/* "Playing" text */
.notificationcontent_Body_2RpDR .notificationcontent_StandardNotificationSubText_EVwRp {
    color: var(--capyQAM_mainTextColor);
    filter: opacity(0.8);
}

/* Current friend's game text */
.notificationcontent_Body_2RpDR .notificationcontent_StandardNotificationSubText_EVwRp .notificationcontent_FriendInGameAppColor_3uw_G {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

/* Timestamp, timestamp highlight */
.notificationcontent_Header_1KnyC .notificationcontent_Timestamp_3q7nN {
    color: var(--capyQAM_mainTextColor);
    filter: opacity(0.6);
}
.notificationcontent_StandardTemplate_5HZT7.gpfocus.gpfocuswithin .notificationcontent_Header_1KnyC .notificationcontent_Timestamp_3q7nN {
    color: var(--capyQAM_hl_mainTextColor);
}

/* Username, playing texts highlight */
.notificationcontent_StandardTemplate_5HZT7.gpfocus.gpfocuswithin .notificationcontent_StandardNotificationSubText_EVwRp,
.notificationcontent_StandardTemplate_5HZT7.gpfocus.gpfocuswithin .notificationcontent_StandardNotificationDescription_zB56A
{
    color: var(--capyQAM_hl_mainTextColor);
}

/* Notif title & icon, highlight */
.notificationcontent_StandardTemplate_5HZT7.gpfocus.gpfocuswithin .notificationcontent_Header_1KnyC .notificationcontent_Title_3qzN6,
.notificationcontent_StandardTemplate_5HZT7.gpfocus.gpfocuswithin .notificationcontent_Header_1KnyC .notificationcontent_Icon_opgc6 svg {
    color: var(--capyQAM_hl_mainTextColor);
}

/* ---
Main panel
--- */

/* Panel separator (between side tabs and main panel), hide by default */
.quickaccessmenu_Tabs_3Ag1w::after {
    visibility: hidden;
}

/* Main panel on the right */
.quickaccessmenu_PanelOuterNav_2BB6u {
    background: rgba(var(--capyQAM_mainPanelBg), var(--capyQAM_mainPanelOpacity));
}

/* Background and shadow removal for titles */
.quickaccessmenu_Title_34nl5 {
    background: none;
    box-shadow: none;
}
/* Same thing for remote play section */
.remoteplay_QuickAccessContainer_3Moue .remoteplay_QuickAccessTitle_2dcwM {
    background: none;
    box-shadow: none;
}

/* Separator between labels */
.gamepaddialog_Field_S-_La.gamepaddialog_WithBottomSeparatorStandard_3s1Rk::after {
    background: rgba(var(--capyQAM_separatorColor), var(--capyQAM_separatorOpacity));
}

/* Label in main panel */
.gamepaddialog_Field_S-_La.gamepaddialog_HighlightOnFocus_wE4V6.gpfocus, 
.gamepaddialog_Field_S-_La.gamepaddialog_HighlightOnFocus_wE4V6.gpfocuswithin {
    background: rgba(var(--capyQAM_hl_labelBg), var(--capyQAM_hl_labelOpacity));
    animation: none;
}

/* Text in main panel */
.quickaccesscontrols_Text_1hJkB, 
.quickaccessmenu_Title_34nl5, 
.gamepaddialog_FieldLabel_3b0U-, 
.perf_Text_3gY4m,
.quickaccesscontrols_BatteryPercentageLabel_3Rxxi,
.gamepadslider_Icon_21uKi
{
    color: var(--capyQAM_mainTextColor);
}

/* Label description */
.gamepaddialog_Field_S-_La .gamepaddialog_FieldDescription_2OJfk
{
    color: var(--capyQAM_mainTextColor);
    filter: opacity(0.6);
}

/* Text in main panel (highlight) */
.gamepaddialog_Field_S-_La.gpfocuswithin .gamepaddialog_FieldLabel_3b0U-, 
.gamepaddialog_Field_S-_La.gpfocuswithin .gamepaddialog_FieldDescription_2OJfk,
.gamepaddialog_Field_S-_La.gpfocuswithin .perf_Text_3gY4m,
.gamepaddialog_Field_S-_La.gpfocuswithin .quickaccesscontrols_BatteryProjectedValue_1mTo6,
.gamepaddialog_Field_S-_La.gpfocuswithin .quickaccesscontrols_BatteryProjectedLabel_4hS40,
.gamepaddialog_Field_S-_La.gpfocuswithin .quickaccesscontrols_BatteryPercentageLabel_3Rxxi,
.gamepaddialog_Field_S-_La.gpfocuswithin .gamepadslider_Icon_21uKi
{
    color: var(--capyQAM_hl_mainTextColor) !important;
}

/* ---
Buttons, sliders, toggles, etc.
--- */

/* Sliders */
.gamepaddialog_ToggleRail_2JtC3::before {
	background: var(--capyQAM_toggleColor);
	animation: var(--capyQAM_toggleAnimation);
}
.gamepadslider_SliderTrack_Mq25N::before {
    background: var(--capyQAM_toggleColor);
	animation: var(--capyQAM_toggleAnimation);
}

/* Ticks */
div .gamepadslider_SliderNotchTick_Fv1Ht.gamepadslider_TickActive_1gnUV {
	background: var(--capyQAM_toggleColor);
	animation: var(--capyQAM_toggleAnimation);
} 

/* Dropdown button */
.gamepaddialog_Button_1kn70 {
    background: var(--capyQAM_ddButtonBg) !important;
    color: var(--capyQAM_ddButtonText) !important;
}

/* Dropdown button (highlight) */
.gamepaddialog_Field_S-_La.gpfocuswithin .gamepaddropdown_DropDownControlButton_28bny,
.gamepaddialog_Field_S-_La.gpfocuswithin .gamepaddialog_Button_1kn70
{
    background: var(--capyQAM_hl_ddButtonBg) !important;
    color: var(--capyQAM_hl_ddButtonText) !important;
}

/* Slider tick text */
.gamepadslider_SliderNotch_3x6ve {
    color: var(--capyQAM_mainTextColor);
    filter: opacity(0.6);
}
/* Slider tick text (highlight) */
.gamepaddialog_Field_S-_La.gpfocuswithin .gamepadslider_SliderNotch_3x6ve {
    color: var(--capyQAM_hl_mainTextColor);
}

/* Slider empty area and inactive ticks */
.gamepaddialog_Field_S-_La .gamepadslider_SliderTrack_Mq25N, .gamepaddialog_Field_S-_La .gamepadslider_SliderNotchTick_Fv1Ht {
    background: rgba(255, 255, 255, 0.2);
    filter: brightness(0.9);
}

/* Slider and ticks (highlight) */
.gamepaddialog_Field_S-_La.gpfocuswithin .gamepadslider_SliderTrack_Mq25N, .gamepaddialog_Field_S-_La.gpfocuswithin .gamepadslider_SliderNotchTick_Fv1Ht {
    filter: brightness(0.6);
}

/* Notification dot */
div[style="position: absolute; top: -5px; right: -5px; height: 10px; width: 10px; background: orange; border-radius: 50%;"], div[style="position: absolute; top: 8px; right: 8px; height: 10px; width: 10px; background: orange; border-radius: 50%;"] {
    background: var(--capyQAM_notifDot) !important;
}

/* ---
Misc
--- */

/* Performance profile text */
.perf_PerfProfileInfoBasic_1nXii {
    color: var(--capyQAM_mainTextColor);
}

/* Decky button */
.quickaccessmenu_Title_34nl5 .gamepaddialog_Button_1kn70
{
    background: var(--capyQAM_ddButtonBg) !important;
    color: var(--capyQAM_ddButtonText) !important;
}
/* Decky button (highlight) */
.quickaccessmenu_Title_34nl5 .gpfocuswithin.gamepaddialog_Button_1kn70
{
    background: var(--capyQAM_hl_ddButtonBg) !important;
    color: var(--capyQAM_hl_ddButtonText) !important;
}

/* Battery icon outline
div[style="height: fit-content; display: flex; color: rgb(255, 255, 255);"] {
    color: black !important;
} */

